
.App {
  background: #294d0a;
  text-align: center;
}

.search-box input{
  width: 40%;
  height: 3em;
  border-radius: 15px;
  border: none;
  color: red;
  font-weight: 600;
  background: #5E43FF;
  padding-left: 2em;
  margin-bottom: 2em;
}

form {
  display: flex;
  padding: 1em;
  background: #442a09;
  color: white;
  width: 60%;
  margin: auto;
  border: .1em solid #D7BEA8;
  border-radius: 5px;
  justify-content: center;
  margin-bottom: 2em;
}

input[type='submit']{
  margin-left: 10px;
  background: rgb(138, 119, 223);
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}

label {
  flex: 1;
}

input[type='text']{
  flex: 1;
  background: #ddd;
}

h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: 3em;
  color: rgb(236, 250, 41);
  margin-bottom: 30px;
}

h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: 1.5em;
  color: rgb(252, 187, 67);
  margin-bottom: 0px;
}

.container {
  border: .1em solid #e9200a;
  background-color: #61421a;
  border-radius: 5px;
  padding: 1em;
  width: 75%;
  margin: auto;
  margin-bottom: 1em;
  display: table;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: 1.5em;
  color: rgb(252, 187, 67);
}

.container.liked {
  background-color: #68cea6;
}

.container.disliked {
  background-color: #e491a1;
}


.container span {
  font-weight: bold;
}

.container img {
  float: left;
  max-width: 200px;
  width: 80%;
  margin-right: 40px;
  border-radius: 20%;
  cursor: pointer;
  padding: 0.4em .4em;
}

.container button {
  float: right;
  position: relative;
  padding: 0.3em .7em;
  background-color: #c3ac9a;
  border-radius: 10%;
  vertical-align: middle;
  font-size: .8em;
	box-shadow: 0 3px 20px 0 #0000003b;

}

.container button.delButton {
  float: right;
  position: relative;
  background-color: #ffffff;
  font-size: .6em;
	box-shadow: 0 3px 20px 0 #0000003b;
}

.menu {
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  font-size: .7em;
  color: rgb(12, 12, 12);
}

ul {
  font-weight: bold;
  list-style-type: square;
  text-align: left;
}